*
{
    box-sizing: border-box;
}

body
{
    background: url('../images/background.jpg');
}

.dragNumber
{
    border: 4px dotted cyan;
    margin-bottom: 1em;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    background: midnightblue;
}
.dragNumber p
{
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
    font-size: 1.7em;
}

.dropNumber
{
    border: 4px dotted cyan;
    margin-bottom: 1em;
    width: 6em;
    height: 6em;
    background: midnightblue;

}

.dropNumber p
{
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
    font-size: 1.7em;
}

.highlight
{
    background-color: green;
}
#left,#right,#main
{
    vertical-align: middle;
    margin: 0 auto;
    padding: 1em;
}
#bottom
{
    padding: 1em;
    /*flex: 100%;*/
}

img
{
    width: 100%;
}

#wrapper
{
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    background-color: RGBA(0,0,0,0.75);
}

@media all and (min-width: 600px)
{

}
@media all and (min-width: 800px) {
    #wrapper    { flex: 6 0; }
    #left { order: 1; }
    #main    { order: 2; }
    #right { order: 3; }
    #bottom  { order: 4; }
}

body {
    padding: 2em;
}