.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background: tomato;
}

.bottom {
    background: lightgreen;
}

.main {
    text-align: center;
    background: deepskyblue;
}

.aside-left {
    background: gold;
}

.aside-right {
    background: hotpink;
}

.drag-number
 {
     position: relative;
     width: 50%;
     border: 4px dotted cyan;
     margin: 0 auto 1em;
     background: midnightblue;
     border-radius: 50%;
     min-width: 2em;
     max-width: 6em;
 }


.drag-number p
{
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
    font-size: 1.7em;
}

.drop-number
{
    position: relative;
    width: 50%;
    border: 4px dotted cyan;
    margin: 0 auto 1em;
    background: midnightblue;
    min-width: 3em;
    max-width: 6em;
}
.drop-number:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.drop-number p
{
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
    font-size: 1.7em;
}

.highlight
{
    background-color: green;
}


img
{
    width: 100%;
    max-width: 400px;
}

@media all and (orientation: portrait) {
    .aside { flex: 1 auto 100%; display: inline-flex;}
    img{width: 50%;}
    .drag-number{width: 3em; height: 3em; }
    .drop-number{width: 3em; height: 3em; }
}



@media all and (orientation: landscape) {
    .aside{ flex: 1 auto;}
    .main    { flex: 2 0; }
    .aside-left { order: 1; }
    .main    { order: 2; }
    .aside-right { order: 3; }
    .bottom  { order: 4; }
    .drag-number{width: 4em; height: 4em; }
    .drop-number{width: 4em; height: 4em; }
}


@media all and (orientation: landscape) and (max-width: 600px) {
    .aside{flex: 1 15%;}
    .drag-number{width: 2em; height: 2em; display: inline-block}
    .drop-number{width: 2em; height: 2em; display: inline-block}
}